PROJECT_DESCRIPTION=FastRent
DB_CLIENT=oracle
BACKEND_PORT=8000
FRONTEND_PORT=3000
DB_PORT=1521
DB_ADMIN_PORT=8080
ORACLE_PASSWORD=admin
ORACLE_APP_USER=LABUSER
ORACLE_APP_PASSWORD=admin
ORACLE_ORDS_IMAGE=container-registry.oracle.com/database/ords:latest
